@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "space-grotesk";
  src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
