:root {
  --primary-color: #f3f3f3;
  --green: #b9ff66;
  --dark: #191a23;
  --white: #ffffff;
  --light-gray: #f3f3f3;

  /* font-family variables classes  */
  --int-light: 'space300';
  --int-regular: 'space400';
  --int-medium: 'space500';
  --int-semibold: 'space600';
  --int-darkBold: 'space700';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--int-light);
  font-size: 14px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-btn {
  color: var(--white);
  background-color: var(--dark);
  font-size: 20px;
  padding: 20px 35px;
  border-radius: 16px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .primary-btn {
    padding: 10px 25px;
  }
}

@media (max-width: 425px) {
}
